@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));


:root {
    --background: #f8fafc; /* slate-50 */
    --foreground: #0f172a; /* slate-900 */
}

.dark {
    --background: #020617; /* deep slate-950 */
    --foreground: #f1f5f9; /* slate-100 */
}